@keyframes survol {
    /* Pour que l'objet s'agrandisse au survol de manière fluide */
    from {
        transform: scale(1);
    }
    to {
        transform: scale(var(--grow-hover));
    } 
}

@keyframes survol2 {
    /* fonctionne mais cause des soucis de taille ... */
    from {
        transform: scale(1);
    }
    to {
        transform: scale(calc(1 / var(--grow-hover)));
    } 
}