                                    /* Mise en page globale du site */

/* Sections principales du document */
body {
    background: var(--dark);
    margin: 0;
    padding: 0;
}

#main-container {   /* pour le main */
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100vw;
    height: 100vh;
    gap: 10px;
}


            /*  //////////////////   BARRE DE NAV /////////////// */

nav {
    background: none;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    height: 43px;
    width: 100%;
    margin-bottom: 20px;
}

    /* Contenu de la barre de nav */
#svg-hamburger {
    fill: var(--blanc);
    height: 40px;
}
#hamburger {    /* icône svg menu hamburger */   
    background: var(--couleur-secondaire);
    margin: 0;
    padding: 0 20px;
    cursor: pointer;
    height: fit-content;
}
#hamburger:hover {
    fill: var(--blanc2);
    background: var(--couleur-secondaire2);
}

.module {   
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--wght-medium);
    font-family: var(--font);
    color: var(--blanc);
    font-size: 12pt;
    border-radius: 5px;
    box-sizing: border-box; 
    display: none;
    justify-self: center;
    align-self: center;
    padding: 8pt 20px 0;
    cursor: pointer;
    height: 50px;
    width: 200px;
}
.module:hover {
    background: var(--couleur-principale2);
    color: var(--blanc2);
}



            /*  ////////////////////// LES MODULES (général)    //////////// */

.container-module { /* design d'un module par défaut */
    background: var(--dark2);
    color: var(--blanc2);
    font-weight: var(--wght-normal);
    font-family: var(--font);
}

    /* Modules spécifiques  */

.container-module {
    width: 19vw;
    height: 80vh;
    background: var(--dark2);
    visibility: hidden;
}


    /*  MODULE 1    */
#module1{
    display: grid;
    grid-template: 50% 50% / 100%;
    justify-content: center;
}

#tableau-liens {
    position: relative;
    margin-top: 30px;
    align-self: center;
    width: 80%;
    left: 20px;
}

#tableau-liens td { /* Pour les emojis du tableau */
    font-size: 26pt;
    margin: 10px;
    width: auto;
    height: auto;
    text-decoration: none;
    cursor: pointer;
}
#tableau-liens td:hover {
    animation: survol .25s forwards;
}
#tableau-liens td:not(:hover) {
    animation: survol2 0.25s forwards;
}


img {
    display: none;
    position: relative;
    width: 80%;
    margin-top: 50px;
    height: auto;
    left: 25px;
}


    /* Module 2 */
#container-module2 {
    padding: 2%;
    height: fit-content;
}

#module2 label, #module2 input, #module2 button, #module2 table {
    display: block;
}

#table-module2 {

    font-size: 12pt;
    margin-top: 100px;
}
#module2 label:nth-child(3) {
    margin-top: 5%;
}

#mod2btn {
    position: relative;
    display: block;
    float: right;
}

.sep-mod2 {
    margin: 0;
}


    /* Module 3 */
        
#menustyles {
    margin: 20px 0 0 20px;
}

#pmodule3 {
    position: relative;
    top: 30vh;
    width: 85%;
    margin: 5%;
    padding: 3%;
}


    /* Module 4 */
        
#module4 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#module4 ul { 
    font-weight: bolder;
    margin-top: 50px;
    text-align: center;
    list-style-type: none;
    font-size: 14pt;
    font-weight: bolder;
    border-radius: 10px;
    width: 100px;
    padding: 5%;
}
        
#module4 div button {
    margin: 0 10px 0 10px;
}

#module4 ul {
    background: var(--dark3);
}


    /* MODULE 5 */

#container-module5 {
    padding: 2%;
}

.label-check {
    font-weight: var(--wght-medium);
}

.check-input {
    margin: 5px 0;
}

.divs-form {
    margin: 10px 0;
}